
/* Box model setup to border-box */

html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #429add;
  font-family: 'Quicksand', serif;
  color: #fff;
  font-weight: 400;
}

.container {
  max-width: 800px;
  height: 100vh;
  min-height: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
}

.header,
.quote,
.author {
  text-align: center;
}

.header {
  font-size: 56px;
}

.quote {
  font-size: 28px;
}

.author {
  margin-top: 0;
  font-size: 22px;
}

.btn {
  display: block;
  margin: 15px 0;
  padding: 10px 15px;
  min-width: 400px;
  border: 1px solid rgba(255, 255, 255, .7);
  border-radius: 5px;
  color: rgba(255, 255, 255, .7);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  transition: .2s;
}

.btn:hover {
  border-color: #fff;
  color: #fff;
}